.home-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: red solid 1px; */
    top: 105px;
    padding-top: 34px;
    left: 120px;
    padding-left: 24px;
    z-index: -99999;
    display: flex;
    flex-wrap: wrap;
}

.video-card {
    width: 400px;
    height: 400px;
    /* border: solid red 2px; */
    /* padding-right: 100px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-video-img {
    width: 100%;
    /* border: yellow 1px solid; */
    height: 60%;
    border-radius: 25px;

}

.desc {
    width: 100%;
    height: 40%;
    /* border: pink solid 1px; */
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.home-video-title {
    font-size: 14px;
    line-height: 1.3;
    margin: 4px 0 2px;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

.home-video-username,
.home-video-views,
.home-video-date {
    font-size: 13px;
    color: rgb(168, 165, 165);
    margin: 2px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-video-user-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.home-video-desc-header{
    display: flex;
}

.home-video-info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}