.main-video {
  max-width: 1060px;
  /* min-width: 640px; */
  width: 90%;
  margin-top: 85px;
  margin-left: 300px;
  /* margin: auto; */
  position: relative;
  
 /* aspect-ratio: 16/9; */
}

.main-video:before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  
}

/* .player-controls {
  bottom: 0;
  left: 0;
  position: absolute;
}

.play-button {
  position: relative;
  width: 68px;
  height: 48px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.next-button:before,
.play-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid #fff;
}



.button-controls {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  margin-left: 35px;
}

.button-controls:hover {
  color: rgba(225, 225, 225, 0.5);
  cursor: pointer;
} */

