.carousel-container{
    position: absolute;
    top: 60px;
    left: 90px;
    right: 10px;
}

.carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 60, 60);
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
    font-weight: 450;
  }
  
  .carousel-cell:hover {
    background-color: rgba(141, 141, 141, 0.811);
    color: white;
  }
  
  .side-bar{
    position: fixed; 
    font-size: x-small;
    top: 60px; 
    left: 7px; 
    height: 100%; 
    width: 60px; 
    background-color: rgb(19, 19, 19);
  }

  .side-bar-icon { 
    height: 70px; 
    width: 60px; 
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    display: flex;
    justify-items: center;
    justify-content: end;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .side-bar-icon:hover {
    background-color: rgba(141, 141, 141, 0.811);
    color: white;
  }

  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .selected{
    background-color: lightgray;
    color: black;
  }