.secondary{
    position: absolute;
    top: 55px;
    left: 67%;
    width: 27%;
    margin-top: 24px;
    min-height: 348px;
    z-index: -500;
}

.secondary.dark{
    color: white;
}

.secondary.light{
    color: #030303;
}

.dismissible{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

/* .dismissible:first-child .menu-popup {
    position: fixed;
    min-height: 321px;
    min-width: 253.961px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 135px;
    background-color: #282828;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
} */

.menu-popup {
    position: fixed;
    min-height: 321px;
    min-width: 253.961px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 135px;
    background-color: #282828;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.ytd-thumbnail {
    height: 94px;
    width: 168px;
    display: block;
    border-radius: 25px;
    cursor: pointer;
}

.yt-image {
    position: relative;
    height: 100%;
    width: 100%; 
}

.ytd-thumbnail img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.display-time {
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
}

.details {
    position: relative;
    height: 100%;
    width: 50%;
    left: 2%;
}

.hidden {
    display: none;
}

.menu-popup.dark {
    background-color: #717171;
}

.menu-popup-container {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.menu-popup-container:hover {
    background-color:#717171;
}

.menu-popup-container:nth-child(5){
    margin-bottom: 15px;
}

.menu-popup-container:nth-child(5)::after{
    content:"";
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 130px;
    border: .25px solid gray;
}

.menu-popup svg {
    height: 24px;
    width: 24px;
    margin-left: 15px;
}

.metadata-line p, .user_name {
    position: relative;
    top: 5px;
    display: inline-block;
    margin: 0;
    font-size: 12px;
    font-weight: 350;
}

.menu-popup-btn {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    cursor: pointer;
}

.three-dots {
    width: 100%; 
    height: 100%;
    pointer-events: none; 
    display: block; 
    color: white;
}

.video-title {
    font-weight: 550;
    font-size: 14px;
    margin-top: 0
}