.secondary{
    position: relative;
    top: 55px;
    left: 67%;
    width: 27%;
    min-height: 348px;
    background-color: white;
}

.dismissible{
    display: flex;
    justify-content: flex-start;
}

.ytd-thumbnail {
    height: 100%;
    width: 40%;
    display: block;
    border-radius: 25px;
    cursor: pointer;
}

.yt-image {
    position: relative;
    height: 100%;
    width: 100%; 
}

.ytd-thumbnail img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.display-time {
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    margin: 2px;
    padding: 5px;
}

.details {
    position: relative;
    height: 100%;
    width: 50%;
    left: 1%;


}

.video-title {
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-top: 0
}

.metadata-line p, .user_name {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 12px;
    color: #030303;
    font-weight: 300;
}

.queue-btn {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    cursor: pointer;
}

.three-dots {
    width: 100%; 
    height: 100%;
    pointer-events: none; 
    display: block; 
}

.hidden {
    display: none;
}
