body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sortDiv{
  display: flex;
  align-items: center;
}

.dropdown{
  margin-left: 5px;
  appearance: none;
  border: none;
  font-size: 17px;
}

.dropdown:hover{
  cursor: pointer;
}

.dropdownDiv{
  margin-left: 20px;
}

.dropdownDiv:hover{
  cursor: pointer;
}

.commentNumber{
  margin-left: 25px;
}

#sortOption{
  color: black;
}
