body {
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  --primary-color: #FF0000;
  --secondary-color: #909090;
  --background-color: #1c1c1c;
  --text-color: #fff;
}

.logo-container{
  display: flex;
  justify-content: space-evenly;
  padding-left: 3px;
  width: 170px;
  position: sticky;
}

.tutuge{
  padding-top: 13px;
  width: 80px;
  height: 40px;
}

.tutuge :hover {
  cursor: pointer;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 19, 19);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 0;
  z-index: 99999;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color:rgb(19, 19, 19);
  color: white;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.navbar-icon {
  margin-left: 10px;
  font-size: 25px;
  padding-top: 7px;
  cursor: pointer;
}


.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(19, 19, 19);
  color: white;
  transition: transform 0.15s ease-out;
  transform: translateX(-100%);
  z-index: 9999;
}

.scrollable{
  overflow-y: auto;
  height: 100%;
}

::-webkit-scrollbar{
  background-color: #1c1c1c;
  height: 10px;
  width: 10px;

}
.scrollable:hover::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  width: 5px;
  height: 100px;
}


.navbar-menu ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 45px;
  
}

.navbar-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: 20px;
}



.navbar-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.2s ease-out;
  margin-left: 15px;
}

.navbar-menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.navbar-menu.open {
  transform: translateX(0);
}

.mic-container {
  display: flex;
  flex-direction: row;
}

.container-search{
  display: flex;
  flex-direction: row;
  width : 45vw;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.small-container {
  visibility: visible;
  width: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  
}



.search-bar {
  margin-top: 4px;
  display: flex;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #1c1c1c;
  width: 30vw;
  padding-left: 6px;
  border: .1px solid gray;
  border-color: gray;
  height: 40px;
  color: white;
  padding-left: 10px;
}

.search-bar:focus {
  opacity: 1;
  display: block;
  
}


.search-bar-icon {
  height: 20px;
  padding-top: 9px;
  color: white;
}


.search-bar-button {
  margin-top: 4px;
  border: .1px solid gray;
  background-color: rgba(128, 128, 128, 0.25);
  color: #fff;
  border-left: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 22px;
  padding: 8.5px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: none;
}


.icon{
  color: white;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.2s ease-out;
  border: none;
  outline: none;
  margin-top: 5px;
}

.rounded-button:hover {
  background-color: rgba(128, 128, 128, 0.4);
  color: #fff;
  cursor: pointer;
}


.oval-button {
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1px solid  rgba(128, 128, 128, 0.9);
  width: 100px;
  height: 33px;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.2s ease-out;
  outline: none;
}

.oval-button p {
  margin-left: 3px;
  font-size: 16px;
}

.oval-button:hover {
  background-color: #6bb7f1;
  opacity: 90%;
  fill-opacity: 100%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 3.1rem;
  right: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  color: white;
  min-width: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-menu ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.dropdown-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  height: 40px;
}



.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin-right: 20px;
  transition: background-color 0.2s ease-out;
}

.dropdown-menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.dropdown-divider {
  margin: 0.5rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999;
}


.dropdown-menu-scroll {
  position: absolute;
  top: 1rem;
  right: 120px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.25);
  min-width: 300px;
  border-radius: 8px;
  overflow: scroll;
}

.dropdown-menu-scroll ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.dropdown-menu-scroll li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}



.dropdown-menu-scroll a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin-right: 20px;
  transition: background-color 0.2s ease-out;
}

.dropdown-menu-scroll li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}