


body {
    background-color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
    --primary-color: #FF0000;
    --secondary-color: #909090;
    --background-color: #1c1c1c;
    --text-color: #fff;
  }
  
  .logo-container{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    width: 170px;
    position: sticky;
  }
  
  .tutuge{
    padding-top: 13px;
    width: 80px;
    height: 25px;
  }

  .tutuge :hover {
    cursor: pointer;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
  }
  
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .navbar-icon {
    margin-left: 10px;
    font-size: 25px;
    padding-top: 7px;
    cursor: pointer;
  }


  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #1c1c1c;
    color: rgb(0, 0, 0);
    transition: transform 0.2s ease-out;
    transform: translateX(-100%);
    z-index: 998;
  }
  
  .scrollable{
    overflow-y: auto;
    height: 100%;
  }

  ::-webkit-scrollbar{
    background-color: #1c1c1c;
    height: 10px;
    width: 10px;

  }
  .scrollable:hover::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 5px;
    height: 100px;
  }


  .navbar-menu ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 45px;
    
  }
  
  .navbar-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
  }

  
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.2s ease-out;
    margin-left: 15px;
  }
  
  .navbar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .navbar-menu.open {
    transform: translateX(0);
  }

  .mic-container {
    display: flex;
    flex-direction: row;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
  }
  
  .search-bar {
    margin-top: 6px;
    display: flex;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #1c1c1c;
    width: 325px;
    padding-left: 6px;
    border: .1px solid gray;
    border-color: gray;
    height: 40px;
    color: white;
    padding-left: 10px;
  }

  .search-bar:focus {
    opacity: 1;
    display: block;
    
  }
  
  #no-show-search{
    opacity: 0;
    display: none;
  }
  
  #show-search{
    color: white;
    margin-top: 16px;
    height: 25px;
  }
  
  .search-bar-icon {
    height: 20px;
    padding-top: 9px;
    color: white;
  }

  
  .search-bar-button {
    margin-top: 6px;
    border: .1px solid gray;
    background-color: rgba(128, 128, 128, 0.25);
    color: #fff;
    border-left: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 22px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
  }
  

  .icon{
    color: white;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  .rounded-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.2s ease-out;
    border: none;
    outline: none;
    margin-top: 5px;
  }
  
  .rounded-button:hover {
    background-color: rgba(128, 128, 128, 0.1);
    color: #fff;
    cursor: pointer;
  }
  

  .oval-button {
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1px solid  rgba(128, 128, 128, 0.9);
    width: 100px;
    height: 33px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.2s ease-out;
    outline: none;
  }
  
  .oval-button p {
    margin-left: 3px;
    font-size: 16px;
  }
  
  .oval-button:hover {
    background-color: #6bb7f1;
    opacity: 90%;
    fill-opacity: 100%;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 2.95rem;
    right: 120px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.25);
    min-width: 300px;
    border-radius: 8px;
    overflow: hidden;
  }

  .dropdown-menu ul {
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
  }
  
  .dropdown-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }

  
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 20px;
    transition: background-color 0.2s ease-out;
  }
  
  .dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .dropdown-divider {
    margin: 0.5rem 0;
    border: none;
    border-top: 1px solid #ccc;
  }
