.light {
    --background-color: rgb(255,255,255);
    --carousel-unselected: rgb(242,242,242);
    --carousel-selected: rgb(15,15,15);
    --bg: rgb(255,255,255);  
    --text: rgb(15,15,15);
    --nav-bg: rgb(255,255,255);
    --nav-menu-bg: rgb(255,255,255);
    --search-button-bg: rgb(248,248,248);
    --nav-dropdown: rgb(255,255,255);
    --subscribe-btn: rgb(15,15,15);
    --subscribe-text: rgb(255,255,255);
    --video-btn: rgb(242,242,242);
    --description-box: rgb(242,242,242);
    --video-metadata-text: rgb(40,40,40);
    --queue-bg-color-top: rgb(255,255,255);
    --queue-bg-color-btm: rgb(255,255,255);
    --queue-focus: rgb(236,223,226);
    --video-metadata-text: rgb(170,170,170);
    --video-dropdown: rgb(255,255,255);
    --carousel-unselected-hover: rgb(229,229,229);
    --nav-menu-btn-hover: rgb(229,229,229);
    --nav-menu-row-hover: rgb(242,242,242);
    --dropdown-row-hover: rgb(242,242,242);
    --subscribe-btn-hover: rgb(15,15,15);
    --video-btn-hover: rgb(229,229,229);
    --queue-hover: rgb(242,242,242);
}
.dark {
    --background-color: rgb(15,15,15);
    --carousel-unselected: rgb(40,40,40);
    --carousel-selected: rgb(241,241,241);
    --bg: rgb(15,15,15);
    --text: rgb(255,255,255);
    --nav-bg: rgb(15,15,15);
    --nav-menu-bg: rgb(15,15,15);
    --search-button-bg: rgb(34,34,34);
    --nav-dropdown: rgb(40,40,40);
    --subscribe-btn: rgb(241,241,241);
    --subscribe-text: rgb(255,255,255);
    --video-btn: rgb(29,29,29);
    --description-box: rgb(39,39,39);
    --video-dropdown: rgb(40,40,40);
    --video-title-text: rgb(255,255,255);
    --video-metadata-text: rgb(170,170,170);
    --queue-bg-color-top: rgb(33,33,33);
    --queue-bg-color-btm: rgb(15,15,15);
    --queue-focus: rgb(49,49,49);
    --carousel-unselected-hover: rgb(63,63,63);
    --nav-menu-btn-hover: rgb(39,39,39);
    --nav-menu-row-hover: rgb(40,40,40);
    --dropdown-row-hover: rgb(65,65,65);
    --subscribe-btn-hover: rgb(208,208,208);
    --video-btn-hover: rgb(48,48,48);
    --queue-hover: rgb(39,39,39);
}

/* .dark:hover {

} */



